<!DOCTYPE html>
<html>
  <head>
    <title>RailsShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="wrapper">
        <%= link_to 'J.Parré', products_path, class: "header__logo" %>

        <ul class="nav">
          <li class="nav__item">
            <%= link_to 'Products', products_path, class: "nav__link" %>
          </li>
          <li class="nav__item">
            <%= link_to "Cart(0)", "/cart", class: "nav__link" %>
          </li>
        </ul>
      </div>
    </header>

    <div class="wrapper">
      <div class="container">
        <%= yield %>
      </div>

      <footer class="footer">
        <p class="footer__copy">2016 &copy;J.Parré Apparel Co.</p>
        <%= link_to 'Admin Area', admin_products_path, class: "footer__link" %>
      </footer>
    </div>
  </body>
</html>
